---
import Mandelbrot from '../components/MandelbrotWebGPU.astro';
---
<html>
    <head><meta charset="UTF-8" /></head>
	<title>Mandelbrot</title>
    <body style="margin:0;background:#000;">
        <Mandelbrot />
    </body>
</html>