---

---
<html>
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>Astro</title>
	</head>
    <script src="../components/particles.js"></script>
    <style>
    body {
        background-color: black;
    }
    </style>
    <body>
        <button id="btn1">Stop</button>
    </body>
</html>